h1 {
  font-family: "adobe-garamond-pro", serif;
  font-size: 42px;
}

h2 {
  font-family: "promixa-nova", sans-serif;
  font-size: 23px;
}

p {
  font-family: "promixa-nova", sans-serif;
  font-size: 18px;
  line-height: 23px;
}
