@import './colors';

html body {
  color: $blackish;
}

h1 {
  //Main title
  font-family: "proxima-nova", serif;
  font-weight:900;
  font-size: 40px;
  letter-spacing: -1px;
  text-transform: uppercase;
  padding: 0px 0 0 0;
}

h2 {
  //Main Subheader
  font-family: "adobe-garamond-pro", sans-serif;
  font-size: 20px;
  font-weight: 100;
  padding: 0 0 10px 0;
  color: $darkgrey;
}

h3 {
  //Project title
  font-family: "proxima-nova", sans-serif;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 0 0 4px 0;
}

h4 {
  //Project Subheader
  font-family: "adobe-garamond-pro", sans-serif;
  font-size: 19px;
  font-weight: 200;
  padding: 0 0 2px 0;
}

h5 {
  //About Me Header
  font-family: "proxima-nova", sans-serif;
  font-weight: 900;
  font-size: 35px;
  text-transform: uppercase;
}

h6 {
  //About Me Experience Title
  font-family: "proxima-nova", sans-serif;
  font-weight: 900;
  font-size: 15px;
  text-transform: uppercase;
}

p {
  font-family: "adobe-garamond-pro", sans-serif;
  font-size: 16px;
  line-height: 23px;
  color: $darkgrey;
}

p.project-image-caption, .project-player-caption {
    font-family: "proxima-nova", sans-serif;
    font-size: 13px;
    padding: 7px 0 10px 0;
    color: $lightgrey;
}

@mixin paragraph {
  font-family: "adobe-garamond-pro", sans-serif;
  font-size: 16px;
  line-height: 23px;
  color: $darkgrey;
}
