.home-intro {
  text-align: center;
  margin: 30px 0;
}

.reel-hero {
  margin-bottom: 50px;
}

//Styles for project Grid

.project-thumbnail {
  background: #828282;
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;

  .hover-label {
    display: none;
  }

  &:hover .hover-label {
    display: block;
  }
}
