@import "base/colors";
@import "base/layout";

nav {
  @media (min-width: $md) {
    top: 0;
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 50;
  }
}

.nav-container {
  margin: 25px 0;


  .logo {
    font-family: "proxima-nova";
    font-size: 18px;
    font-weight: 900;
    color: $blackish;
    text-transform: uppercase;

    &:hover, &:active, &:focus {
      text-decoration: none;
      color: $blackish;
    }
  }

  .nav-link {
    position: relative;
    font-family: "adobe-garamond-pro";
    font-size: 15px;
    font-weight: 300;
    color: $blackish;

    &:after {
      content: '';
      position: absolute;
      height: 1px;
      width: 100%;
      background-color: $blackish;
      left: 0;
      bottom: -2px;
      transition: all .5s cubic-bezier(.56,.01,.05,1);
      transform: scaleX(0);
    }

    &:hover, &:focus, &:active {
      text-decoration: none;

      &:after {
        transform: scaleX(1);
      }
    }
  }

  .nav-contact-container {
    a:hover, a:focus, a:active {
      text-decoration: none;
    }

    .contact-icon {
      height: 13px;
      margin-left: 5px;
    }
  }

}

//Begin Mobile
.nav-container.mobile {
  position: static;
  margin: 0 0 20px 0;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;

  .logo {
      z-index: 999;
  }
}
