---
title: About
---

<div class="row">
  <div class="col-xs-4 col-xs-offset-4 col-md-6 col-md-offset-3">
    <img class="img-responsive" src="images/profile.jpg">
    <h5>Life in Motion</h5>
    <p>
      Constantly in motion. Bacon ipsum dolor amet tail ribeye spare ribs filet mignon tongue shank pork belly brisket burgdoggen kielbasa prosciutto. Brisket doner ground round drumstick porchetta filet mignon, andouille short loin swine bresaola rump cow. Turducken pork t-bone shoulder. Brisket pork loin porchetta pork chop, pastrami kevin.
    </p>
  </div>
</div>
