---
title: About
---

<div class="row">
  <div class="about-container">
    <div class="col-md-5 col-md-push-1">
      <img class="img-responsive" src="images/me-02.jpg">
      <h5>Constantly in Motion.</h5>

      <p class="about-me">
        I like to move. I like to make things move. I'm a multidisciplinary designer & animator, currently based in Sedona, Arizona. I have 3+ years of agency experience. I'm currently freelancing and available. Let's chat!
      </p>
    </div>

    <div class="col-md-4 col-md-push-2 exp-col">

      <h5 class="experience-title">EXPERIENCE</h5>
      <div class="experience-header">
          <h6>Freelance<span>July 2016—Present</span></h6>
        </div>
      <p class="experience">Freelance design, editing, 2d & 3d animation.</p>

      <div class="experience-header">
          <h6>Epipheo<span>August 2015—May 2016</span></h6>
        </div>
      <p class="experience">Motion design intern turned motion designer.</p>

      <div class="experience-header">
          <h6>Ignition<span>May 2014—May 2015</span></h6>
        </div>
      <p class="experience">Interaction design and motion design intern.</p>

      <div class='contact-container'>
        <a href="mailto:tayng93@gmail.com" target="_top"><img src='images/icon-email-01.svg'>tayng93@gmail.com</a>
        <p><img src='images/icon-phone-01.svg'>(513) 520-1667</p>
        <a href="https://www.linkedin.com/in/taylorgriggs/" target="_blank"><img src='images/icon-linkedin-01.svg'>Linkedin.com/in/taylorgriggs</a>
        <a href="https://vimeo.com/taylorgriggs" target="_blank"><img src='images/icon-vimeo-01.svg'>Vimeo.com/taylorgriggs</a>
      </div>


    </div>
  </div>
</div>
