<nav>
  <div class="container">
  <div class="row">
  <div class="col-md-12">

    <div class="nav-container desktop hidden-xs hidden-sm">
      <div class="row">

          <div class='col-md-2 text-left'>
              <a class="nav-link" href="about.html">About & Contact</a>
          </div>

        <div class='col-md-8 text-center'>
          <a class="logo" href="index.html">
            Taylor Griggs
          </a>
        </div>


        <div class='col-md-2 text-right'>
          <div class='nav-contact-container'>
            <a href="https://www.linkedin.com/in/taylorgriggs/" target="_blank">
              <img class='contact-icon' src='images/icon-linkedin-02.svg'>
            </a>
            <a href="https://vimeo.com/taylorgriggs" target="_blank">
              <img class='contact-icon' src='images/icon-vimeo-02.svg'>
            </a>
            <a href="mailto:tayng93@gmail.com" target="_top">
              <img class='contact-icon' src='images/icon-email-02.svg'>
            </a>
          </div>
        </div>


      </div>
    </div>

    <div class="nav-container mobile hidden-md hidden-lg" id='mobile-nav'>
      <a class="logo" href="index.html">
        TAYLOR GRIGGS
      </a>
          <div class='hamburger' id='mobile-menu'>
            <div class='button-content'>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <div id='mobile-menu-overlay'>
            <ul>
              <li><a id="mobile-work-link" href="index.html#work">Work</a></li>
              <li><a href="./documents/GriggsResume_Spring2017.pdf" target="_blank">Resume</a></li>
              <li><a href="about.html">About &<br>Contact</a></li>
            <ul>
          </div>
    </div>
  </div>

</div>
</div>
</nav>
