<nav class="row">
  <div class="col-md-12 nav-container">
    <a href="index.html">Work</a>
    <a href="resume.html">Resume</a>
    <a href="index.html">
      TAYLOR GRIGGS
    </a>
    <a href="about.html">About</a>
    <a href="contact.html">Contact</a>
  </div>
</nav>
