<nav class="row">
  <div class="col-md-12">

    <div class="nav-container desktop hidden-xs hidden-sm">
      <a class="nav-link" href="index.html">Work</a>
      <a class="nav-link" href="resume.html">Resume</a>
      <a class="logo" href="index.html">
        Taylor Griggs
      </a>
      <a class="nav-link" href="about.html">About</a>
      <a class="nav-link" href="contact.html">Contact</a>
    </div>

    <div class="nav-container mobile hidden-md hidden-lg">
      <a class="logo" href="index.html">
        TAYLOR GRIGGS
      </a>
      <button>-</button>
    </div>
  </div>

</nav>
