<div class="project-container row">
  <div>
    <div class="col-md-4">
      <h2>{{title}}</h2>
      <h3>{{client}}</h3>
      <p>{{description}}</p>
    </div>
    <div class="col-md-8">
      <div class="vimeo-player">
        <iframe
          src="https://player.vimeo.com/video/130001307"
          width="100%"
          frameborder="0"
          webkitallowfullscreen
          mozallowfullscreen
          allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
</div>
