<div class="container-fluid project-container">
  <div class="row">
    <div class="col-md-4">
      <h2> Title </h2>
      <p> Lorem sdksdgkljdngkljbdfgkljbadsb b ad,jhbdfgjhbg </p>
    </div>
    <div class="col-md-8">
    this is a video
    </div>
  </div>
</div>
