<div class="row">
  <div class="col-md-12">
    <div class="project-nav-container">
      <a class="previous-project" href={{previous-url}}><img src='images/arrow.svg'>Previous</a>
      <a class="next-project" href={{next-url}}>Next<img src='images/arrow.svg'></a>
    </div>
  </div>
</div>
