<div class="project-grid container-fluid">
  <div class="row">
    {{#each projects}}
      <div class="project-thumbnail col-md-4" style="background-color: {{bg-color}}">
        <div class="hover-label"> {{title}} </div>
      </div>
    {{/each}}
  </div>
</div>
