<div class="project-grid">
  <div class="row">
    {{#each project-grid}}
      <a href="{{link}}">
        <div class="project-thumbnail col-md-4" style="background-color: {{bg-color}}; background-image: url({{thumbnail-img}})">
          <div class="hover-label">{{title}}</div>
        </div>
      </a>
    {{/each}}
  </div>
</div>
