<div class="row reel-hero">
  <div class="col-md-12">
    <div class="vimeo-player">
      <iframe
        src="https://player.vimeo.com/video/205961510"
        width="100%"
        frameborder="0"
        webkitallowfullscreen
        mozallowfullscreen
        allowfullscreen>
      </iframe>
    </div>
  </div>`
</div>
