<!-- Modal -->
<div class="modal fade" id="reelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="vimeo-player">
        <iframe
          src=""
          width="100%"
          frameborder="0"
          webkitallowfullscreen
          mozallowfullscreen
          allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
</div>
