doctype html
html(lang="en")
  head
    title= Dronez
    link(rel='stylesheet', href='style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")

    //-Mixins
    include components/hero.pug

  body

    //-SM:768px MD:1200px LG:1920px XL:2560PX
    .hero-container
      h1 Dronez
      +hero('images/trees_sm.jpg','images/trees_md.jpg','images/trees_lg.jpg','images/trees_xl.jpg','trees')
